*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1220px;
    width: 100%;
}
header{
    padding: 50px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
   gap: 50px;
   list-style: none;
   transition: 0.5;
   
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: #FF7A50;
    color: white;
    width: 90px;
    height: 40px;
    box-shadow: 0px 22px 40px 0px #FF683830;
    border: none;
    border-radius: 5px;

}
nav ul li a:hover{
    color: #FF7A50;
}
.hero{
    padding: 30px;
    display: flex;
    align-items: center;
}
h1{
    font-size: 55px;
    padding: 30px;
}
p{
    font-size: 20px;
    padding-bottom: 30px;
}
.just{
    padding: 30px;
    display: flex;
    align-items: center;

}
.text{
 padding-left: 40px;
}
.aaa{
    border-radius: 10px 0 10px 0;
    background-color: #FF7A50;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
}
.ota{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
.card{
    width: 360px;
    height: 350px;
    background-color: rgb(231, 194, 194);
}
.hero4{
    padding: 40px;
   
   
}
.hero4 .fff{
 position: relative;

    display: flex;
    align-items: center;
    
}
.hero4 h2{
   font-size: 40px;
   padding: 40px;
   position: absolute;
   top: 110px;
  left: 10px;
}
span{
    color: #FF7A50;
}
.fff{
    padding: 50px;
}
footer{
    padding: 50px;
}
.oxirgi2{
    background-color: #FF7A50;
    border-radius: 10px;
    width: 1000px;
    height: 200px;
    text-align: center;
    padding: 50px;
}
.oxirgi2 h3{
   padding-bottom: 20px;
   color: white;
   font-size: 30px;
}
input{
    padding: 15px;
    font-size: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
.btn2{
    background-color: #FF7A50;
    color: white;
    margin-left: -130px;
    width: 110px;
    border-radius: 10px;
    height: 30px;
    border: none;
}